<h3>{{titulo}}</h3>
<hr>

<form #formProducto="ngForm" class="col-lg-6" id="form-producto" (ngSubmit)="onSubmit()">
    <label>
        Nombre
        <span class="label label-danger" *ngIf="!nombre.valid && nombre.touched">El nombre es obligatorio</span>
    </label>
    <input type="text" #nombre="ngModel" name="nombre" [(ngModel)]="producto.nombre" class="form-control" required>


    <label>
        Descripción
        <span class="label label-danger" *ngIf="!descripcion.valid && descripcion.touched">La descripción es obligatoria</span>
    </label>
    <textarea #descripcion="ngModel" name="descripcion" [(ngModel)]="producto.descripcion" class="form-control" required></textarea>

    <label>
        Precio
        <span class="label label-danger" *ngIf="!precio.valid && precio.touched">El precio no es correcto</span>
    </label>
    <input type="text" #precio="ngModel" name="precio" [(ngModel)]="producto.precio" class="form-control" required pattern="[0-9.]+">

    <label>Imagen</label>
    <div *ngIf="is_edit">
        <img src="http://localhost/curso-angular4-backend/uploads/{{producto.imagen}}" class="img-responsive">
    </div>
    <br>
    <input type="file" class="form-control" (change)="fileChangeEvent($event)">

    <br>
    <input type="submit" value="{{titulo}}" class="btn btn-success" [disabled]="!formProducto.form.valid">
</form>